{% extends 'base.html' %}
{% block content %}
{% load customizedTags %}
<div class="row mt-4">
    <div class="col">
      <!-- <select onchange="location = this.value;">
        <option value="/finished">Finished</option>
        <option value="/sector/Communication_Services">Break</option>
        <option value="/issue">Issues</option>
        <option value="/downtime">Downtime</option>
</select> -->
      <!-- <label class="d-block text-light">Sector:</label>
                                    <select class="dropdown" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
                                        <option selected value="/sector/All">All</option>
                                          <option value="/sector/Communication_Services">Communication Services</option>
                                    </select> -->
        <div class="dropdown text-light">
          Sector:
            <button class="btn btn-dark dropdown-toggle " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              {% if isAll %}
              All
              {% else %}
              {{ allCompanies.0.SECTOR|ReplaceUnderScore }}
              {% endif %}
            </button>
            <ul class="dropdown-menu bg-dark text-light" aria-labelledby="dropdownMenuButton1">
                <li><a href="/sector/All" class="dropdown-item  text-light" >All</a></li>
                <li><a href="/sector/Communication_Services" class="dropdown-item text-light">Communication Services</a></li>
                <li><a href="/sector/Consumer_Discretionary"class="dropdown-item text-light" >Consumer Discretionary</a></li>
                <li><a href="/sector/Consumer_Staples" class="dropdown-item text-light">Consumer Staples</a></li>
                <li><a href="/sector/Energy" class="dropdown-item text-light">Energy</a></li>
                <li><a href="/sector/Financials" class="dropdown-item text-light">Financials</a></li>
                <li><a href="/sector/Health_Care" class="dropdown-item text-light">Health Care</a></li>
                <li><a href="/sector/Industrials" class="dropdown-item text-light">Industrials</a></li>
                <li><a href="/sector/Information_Technology" class="dropdown-item text-light">Information Technology</a></li>
                <li><a href="/sector/Materials" class="dropdown-item text-light">Materials</a></li>
                <li><a href="/sector/Real_Estate" class="dropdown-item text-light">Real Estate</a></li>
                <li><a href="/sector/Utilities" class="dropdown-item text-light">Utilities</a></li>
            </ul>
          </div>

    </div>
</div>
    <table class="table table-dark table-hover">
        <thead>
          <tr>
            <th></th>
            <th>Ticker</th>
            <th>Company Name</th>
            <th>Sector</th>
            <th>Price</th>
            <th>Country </th>
            <th>Authorized Capital </th>
            <th>Issued Shares </th>
            <th>Paid Capital</th>
          </tr>
        </thead>
        <tbody>
        {% for company in allCompanies %}
        <tr>
            <td></td>
            <td>{{company.TICKER}}</td>
            <td>{{company.NAME}}</td>
            <td>
              {{ company.SECTOR|ReplaceUnderScore }}
              
            </td>
            <td>{{company.PRICE}}</td>
            <td>KSA</td>
            <td>{{company.AUTHORIZED_CAPITAL}}</td>
            <td>{{company.ISSUED_SHARES}}</td>
            <td>{{company.PAID_CAPITAL}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      


{% endblock %}
    